Documents/Winter Progress Report/alex_draft/alex_winter_report.synctex.gz
Documents/Winter Progress Report/alex_draft/alex_winter_report.pdf
Classifier/weights
Classifier/ssd300_120000
Annotator/SeedDatasetVOC
Annotator/FlaxDatasetVOC
Annotator/MultiDatasetVOC
Annotator/TFDatasetVOC
Annotator/WheatDatasetVOC
Annotator/RCDatasetVOC
Annotator/raw_images
Annotator/fix.py
App/test_server/
Data/
Annotator/weights
Annotator/.idea/
Annotator/__pycache__/
Annotator/venv/
