Documents/Winter Progress Report/alex_draft/alex_winter_report.synctex.gz
Documents/Winter Progress Report/alex_draft/alex_winter_report.pdf
Classifier/weights
Classifier/ssd300_120000
Annotator/SeedDatasetVOC
Annotator/raw_images
App/test_server/
Data/
Annotator/weights
